<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Democratic Tier</title>
    <script src="static/htmx.org@2.0.3" integrity="sha384-KleDlzH8rZMVVk6292G+O50S+JPA4/7N/ZJ6XDkS5j0DT4EHAzP/9H7m9Rz9tOxi" crossorigin="anonymous"></script>
    <style>
        body { font-family: sans-serif; margin: 20px; }
        .candidate-list, .song-list { margin-top: 15px; }
        .candidate-card, .song-card { border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; background-color: #f9f9f9; }
        .candidate-name, .song-name { font-weight: bold; }
        .vote-area, .play-area { margin-top: 5px; }
        .score { margin-right: 15px; }
    </style>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
